.calendar{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calendar-header{
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}


.calendar-header > button {
  padding-left: 16px;
}

.month-title{
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.days-of-week, .days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.days{
  flex-grow: 1;
  cursor: pointer;
}

.calendar-switch-button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.other-month{
  color: rgba(0, 0, 0, 0.40);
}

.has-event{
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: #7E03D5;
}

.date-selected{
  background: #7E03D5;
  color: #FFF;
}