.table-container {
  overflow-x: auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
thead tr,
tbody tr {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 5fr 8fr 4fr 1fr;
}
.table th,
.table td {
  font-size: 20px;
  text-align: center;
  padding: 8px 12px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}
